@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;700;800&display=swap");

:root {
    --inter: "Inter", sans-serif;
    --crete: "Crete Round", serif;
    --dark-background: #1f2937;
    --hero-color: #f9faf8;
    --hero-sec: #e5e7eb;
    --button-color: #3882f6;
    --info-text: #1f2937;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
  }

  .logo {
    color: white;
    text-decoration: none;
    width: 100px;
  }
  
  .logo > img {
    width: 100%;
  }